
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
}

main {
  margin-top: 5px;
}

/*Fuentes ya esta importada solo es que usen lo siguiente en el 
elemento que debe llevar la fuente 

font-family: 'Source Sans Pro', sans-serif; para parrafos;
font-family: 'Cormorant Garamond', serif; para titulos


/* HEADER INICIO */

.main__section1--imagenDoctores {
  max-width: 300px;
  /*hace que el elemento no tenga border que puedan generar scrool*/
}
.estilos-header{
  background-color: #cfeff9;
  font-family: "Source Sans Pro", sans-serif;
  
}


/* FOOTER INICIO */
.estilos-footer {
  background-color: #001cb1;
  font-family: "Source Sans Pro", sans-serif;
  
}

/* INICIO ESTILOS PAGINA DE SERVICIOS*/
.contenedor__ser {
  overflow: hidden;
}

.contenedor__ser--titulo {
  width: 35%;
  max-width: 150px;
  background-color: #4154b4;
  color: #fffeff;
  font-family: "Cormorant Garamond", serif;
  font-size: 1rem;
  text-align: center;
  padding: 0.5rem;
  margin: 20px auto 0;
  border-radius: 5px;
}

.contenedor__ser--imgtitulo {
  position: absolute;
  margin: -5% -1%;
}

.contenedor__ser--img {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.imagen--servicios {
  width: 70%;
  max-width: 250px;
  padding: 0.5rem;
  border-radius: 20px;
  margin: 0 auto;
}

.contenedor__ser--separador {
  width: 90%;
  height: 5px;
  display: block;
  margin: 10px auto;
}

.contenedor__ser--inf {
  background-image: url(images/serlista.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 95%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
}


.contenedor__ser--informacion {
  font-family: 'Cormorant Garamond';
}

.contenedor__ser--informacion {
  font-family: 'Source Sans Pro', sans-serif;

  margin: 5px 0 10px 20px;
  font-size: 1rem;
  line-height: 25px;
}

/* FIN ESTILOS PAGINA DE SERVICIOS*/



